@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f5f5f5;
  font-family: "roboto";
  text-align: center;
}
body h1, body h2, body h3 {
  padding: 15px;
}
body h1, body h2 {
  font-family: "aboreto";
  font-weight: bold;
}
body h1 {
  color: #f5f5f5;
}
body h2, body h3 {
  color: #fa8072;
}

header {
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: #302e2e;
  margin-bottom: 20px;
  z-index: 1;
}
header #logo {
  width: 50px;
}
header .nav-link {
  background-color: #302e2e;
  font-size: large;
  font-family: "aboreto";
  font-weight: bold;
  color: #fa8072;
  padding: 10px;
}
header .nav-link:hover {
  color: #f5f5f5;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: #302e2e;
}
footer a, footer p {
  color: #f5f5f5;
}
footer a {
  text-decoration: none;
}
footer a:hover {
  color: #fa8072;
}

#bienvenida {
  background-color: #fa8072;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 20px;
  padding: 10px;
}
#bienvenida article #chicaLeyendo {
  height: 190px;
  width: 150px;
}
#bienvenida article .frase {
  font-size: medium;
  font-weight: bold;
  padding-top: 20px;
}

#tutorial {
  margin: 10px 20px;
}
#tutorial .pasos {
  display: flex;
  flex-direction: column;
  margin-right: 15px;
}
#tutorial .pasos li {
  align-items: start;
  list-style-type: none;
  background-color: #302e2e;
  border-radius: 6px;
  color: #f5f5f5;
  font-size: medium;
  padding: 10px;
  margin-bottom: 15px;
  width: auto;
}

.unboxing {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video {
  width: 250px;
  margin: 0px 20px 20px 20px;
}

.card {
  align-self: center;
  margin: 20px;
  padding: 20px;
  background-color: #fa8072;
  width: 85vw;
  height: auto;
}
.card .card-title {
  color: #f5f5f5;
  font-family: "aboreto";
  font-weight: bold;
  font-size: x-large;
  padding: 10px;
}
.card .card-text {
  color: #302e2e;
  font-size: medium;
  text-align: start;
  padding: 5px;
}
.card .card-img-top {
  width: 150;
  height: 100;
  padding: 5px;
}

.card {
  height: auto;
  padding: 10px;
}

.descripcionSuscripciones .card-text {
  text-align: center;
  font-size: medium;
}
.descripcionSuscripciones .precio {
  font-family: "aboreto";
  color: white;
  font-size: xx-large;
  font-weight: bold;
}

.btn {
  font-family: "aboreto";
  font-weight: bold;
  border-radius: 10px;
  margin: 0;
}

.sobreNosotros {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sobreNosotros .infoNosotros {
  text-align: start;
  font-size: medium;
  margin: 20px 30px;
}
.sobreNosotros .libroNosotros {
  height: 160px;
  width: 150px;
  margin-bottom: 20px;
}

#formulario {
  display: flex;
  flex-direction: column;
  align-self: center;
  width: 90vw;
  padding: 15px;
  font-size: medium;
  margin-left: 10px;
}
#formulario .elementoForm {
  margin-bottom: 10px;
  width: 75vw;
}
#formulario #nombre, #formulario #correo {
  height: 30px;
}
#formulario #comentario {
  height: 300px;
}
#formulario .newsletter {
  display: inline;
}
#formulario button {
  font-family: "aboreto";
  color: #f5f5f5;
  border-radius: 10px;
  background-color: #fa8072;
  height: 40px;
  margin-top: 10px;
}
#formulario button:hover {
  background-color: #302e2e;
}

#metodosContacto .redes {
  list-style-type: none;
  display: flex;
  justify-content: center;
  justify-items: center;
}
#metodosContacto .redes .logoRedes {
  width: 40px;
  margin-inline: 5px;
}

.inicio {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto auto auto 90px;
  grid-template-areas: "header" "bienvenida" "tutorial" "aside" "footer";
  row-gap: 10px;
}

header {
  grid-area: header;
}

#bienvenida {
  grid-area: bienvenida;
}

#tutorial {
  grid-area: tutorial;
}

.unboxing {
  grid-area: aside;
}

footer {
  grid-area: footer;
}

.nuestrasCajas {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto 90px;
  row-gap: 10px;
  grid-template-areas: "header" "cajas" "footer";
}

header {
  grid-area: header;
}

section #descripciónCajas {
  grid-area: cajas;
}

footer {
  grid-area: footer;
}

.nuestrasSucripciones {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto 90px;
  row-gap: 10px;
  grid-template-areas: "header" "suscripciones" "footer";
}

header {
  grid-area: header;
}

section .sucripciones {
  grid-area: suscripciones;
}

footer {
  grid-area: footer;
}

.quienesSomos {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto 90px;
  row-gap: 10px;
  grid-template-areas: "header" "nosotros" "footer";
}

header {
  grid-area: header;
}

.sobreNosotros {
  grid-area: nosotros;
}

footer {
  grid-area: footer;
}

.paginaContacto {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 120px auto auto 90px;
  grid-template-areas: "header" "formulario" "metodosContacto" "footer";
  row-gap: 10px;
}

header {
  grid-area: header;
}

#formulario {
  grid-area: formulario;
}

#metodosContacto {
  grid-area: metodosContacto;
}

footer {
  grid-area: footer;
}

@media (min-width: 700px) {
  .inicio {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 150px auto auto 80px;
    grid-template-areas: "header header" "bienvenida bienvenida" "tutorial aside" "footer footer";
    row-gap: 10px;
    column-gap: 0;
  }
  header .nav-link {
    font-size: x-large;
  }
  header #logo {
    width: 80px;
  }
  #bienvenida h1 {
    font-size: xx-large;
  }
  #bienvenida article #chicaLeyendo {
    height: 450px;
    width: 300px;
  }
  #bienvenida article .frase {
    font-size: x-large;
  }
  #tutorial h2 {
    font-size: x-large;
  }
  #tutorial .pasos li {
    font-size: large;
    margin-right: 0px;
  }
  .unboxing h3 {
    font-size: x-large;
  }
  .unboxing .video {
    width: 300px;
  }
}
@media (min-width: 1200px) {
  .inicio {
    grid-template-rows: 200px auto auto 80px;
  }
  header .nav-link {
    font-size: xx-large;
  }
  header #logo {
    width: 180px;
  }
  #bienvenida article {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  #bienvenida article #chicaLeyendo {
    height: 500px;
    width: 350px;
    margin-bottom: 20px;
  }
  #bienvenida article .frase {
    font-size: xx-large;
    margin-left: 30px;
  }
  #tutorial {
    margin-left: 80px;
  }
  #tutorial h2 {
    font-size: xx-large;
  }
  #tutorial .pasos li {
    font-size: x-large;
  }
  .unboxing {
    margin-right: 80px;
  }
  .unboxing h3 {
    font-size: xx-large;
  }
  .unboxing .video {
    width: 450px;
  }
}
@media (min-width: 700px) {
  .nuestrasCajas {
    grid-template-rows: 150px auto 80px;
  }
  .card {
    width: 45%;
    height: 750px;
    margin: auto;
    margin-bottom: 20px;
  }
  .card .card-title {
    font-size: xx-large;
  }
  .card .card-text {
    font-size: large;
  }
}
@media (min-width: 1200px) {
  .nuestrasCajas {
    grid-template-rows: 200px auto 80px;
  }
  .card {
    width: 23%;
    height: auto;
    margin: auto;
    margin-top: 20px;
  }
  .card .card-text {
    font-size: x-large;
  }
}
@media (min-width: 700px) {
  .nuestrasSucripciones {
    grid-template-rows: 150px auto 80px;
  }
  .suscripciones .card {
    width: 45%;
    height: 450px;
    margin: auto;
    margin-bottom: 20px;
  }
  .suscripciones .card .card-title {
    font-size: xx-large;
  }
  .suscripciones .card .card-text {
    font-size: large;
  }
}
@media (min-width: 1200px) {
  .nuestrasSucripciones {
    grid-template-rows: 200px auto 80px;
  }
  .suscripciones .card {
    width: 23%;
    height: auto;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 50px;
  }
  .suscripciones .card .card-text {
    font-size: x-large;
  }
}
@media (min-width: 700px) {
  .quienesSomos {
    grid-template-rows: 150px auto 80px;
  }
  .infoNosotros p {
    font-size: large;
    margin: 10px 80px;
  }
}
@media (min-width: 1200px) {
  .quienesSomos {
    grid-template-rows: 200px auto 80px;
  }
  .infoNosotros p {
    font-size: x-large;
    margin: 20px 160px;
  }
}
@media (min-width: 700px) {
  .paginaContacto {
    grid-template-rows: 150px auto auto 80px;
  }
  #metodosContacto .redes .logoRedes {
    width: 50px;
    margin-inline: 15px;
  }
}
@media (min-width: 1200px) {
  .paginaContacto {
    grid-template-rows: 200px auto 80px;
  }
  #metodosContacto .redes .logoRedes {
    width: 60px;
    margin-inline: 25px;
  }
}

/*# sourceMappingURL=style.css.map */
