// estilo de las cajas literarias disponibles
.card {
    align-self: center;
    margin: 20px;
    padding: 20px;
    background-color: $salmon;
    width: 85vw;
    height: auto;
    transition: 1s;
    &:hover {
        transform: scale(1.1);
        transition: 1s;
    }
    
    .card-title {
        color: $blanco;
        font-family: $fuente-titulos;
        font-weight: bold;
        font-size: x-large;
        padding: 10px;
    }
    .card-text {
        color: $gris;
        font-size: medium;
        text-align: start;
        padding: 5px;
    }
    .card-img-top {
        width: 150;
        height: 100;
        padding: 5px;
        box-shadow: 4px 4px 8px $gris;
    }
}