// estilo del formulario de contacto
.contacto {
    justify-self: center;
}

#formulario {
    display: flex;
    flex-direction: column;
    padding: 15px;
    font-size: medium;

    .elementoForm {
        margin-bottom: 10px;
        width: 250px;
    }

    #nombre , #correo {
        height: 30px;
    }

    #comentario {
        height: 300px;
    }

    .newsletter {
        display: inline;
    }

    button {
        font-family: $fuente-titulos;
        color: $blanco;
        border-radius: 10px;
        background-color: $salmon;
        height: 40px;
        &:hover {
            background-color: $gris;
        }
        margin-top: 10px;
    }
}

// estilo de los distintos metodos de contacto
#metodosContacto {
    margin-top: 20px;
    .redes {
        list-style-type: none;
        padding-left: 0%;
        display: flex;
        justify-content: space-evenly;
        .logoRedes {
            width: 40px;
        }
    }
}
