// estilo pagina de información sobre la empresa
.sobreNosotros {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    .infoNosotros {
        text-align: start;
        font-size: medium;
        margin: 20px 30px;
        max-width: 1400px;
    }

    .libroNosotros {
        height: 160px;
        width: 150px;
        margin-bottom: 20px;

        animation-duration: 2s;
        animation-name: aparecer;
        animation-iteration-count: 3;

        @keyframes aparecer {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
        }

    }
}

