// estilo de las cards de suscripciones
.suscripciones {
    display: flex;
    flex-direction: column;

    .card {
        height: auto;
        padding: 10px;
    }

    .descripcionSuscripciones {
        .card-text {
            text-align: center;
            text-wrap: wrap;
            font-size: medium;
        }
        .precio {
                font-family: "aboreto";
                color: white;
                font-size: xx-large;    
                font-weight: bold;
        }
    }

    .btn {
        font-family: $fuente-titulos;
        font-weight: bold;
        border-radius: 10px;
        margin: 0;
    }
}