// estilo de las cards de suscripciones
.card {
    height: auto;
    padding: 10px;
}

.descripcionSuscripciones {
    .card-text {
        text-align: center;
        font-size: medium;
    }
    .precio {
            font-family: "aboreto";
            color: white;
            font-size: xx-large;    
            font-weight: bold;
    }
}

.btn {
    font-family: $fuente-titulos;
    font-weight: bold;
    border-radius: 10px;
    margin: 0;
}
